.btn {
    background-image: none;
    border-radius: 10px;
    display: inline-block;
    border-color: transparent;
}

.btn:hover, .btn:active, .btn:focus {
    border-color: transparent;
}

.btn-default {
    background-color: #FFF;
    border-color: #CCC;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    border-color: #ADADAD;
}

.btn-default:hover {
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

.btn-primary {
    background-color: #004275;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    border-color: transparent;
    background-color: #3271a0;
}

.btn-info {
}

.btn-secondary {
    background-color: #EFEFEF;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    border-color: transparent;
    background-color: #9a9a9a;
}
