body {
    margin-top: 50px;
}

.nav-tabs .glyphicon:not (.no-margin ) {
    margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
    display: inline-block;
    margin: 0px;
}

.tab-pane .list-group input[type="checkbox"] {
    margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
    margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
    color: #FFBC00;
}

a.list-group-item.read {
    color: #222;
    background-color: #F3F3F3;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-pills>li>a {
    padding: 5px 10px;
}

.ad {
    padding: 5px;
    background: #F5F5F5;
    color: #222;
    font-size: 80%;
    border: 1px solid #E5E5E5;
}

.ad a.title {
    color: #15C;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}

.ad a.url {
    color: #093;
    text-decoration: none;
}

.bbmriModule {
    font-size: 10.5pt;
    font-weight: bold;
    color: whitesmoke;
}

#filterList {
    padding-left: 15px;
}

#filterList a {
    color: white;
}

#filterInputButtons {
    padding-right: 15px;
}

#filterInputText {
    margin-right: 5px;
    margin-left: 5px;
}

.queryActionButtons {
    margin-left: 5px;
    top: -5px;
}

.queryCreationDate {
    float: inherit;
}

.queryOwner {
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.queryNumberResponsesBadge {
    margin-right:5px;
    float: left;
}

.filterBadge {
    margin-right: 5px;
}

.queriesTopLine {
    margin-bottom: 5px;
}

.fiveRight {
    margin-right: 5px;
}

.queryTitle {
    text-align: left;
}

.deco-none {
    color: black;
    text-decoration: none;
}

.deco-none:link {
    color: black;
    text-decoration: none;
}

.deco-none:hover {
    color: black;
    text-decoration: none;
}

.deco-none:hover .panel-heading {
    background-color: #ccc;
}

.deco-none:hover .panel-body {
    background-color: #eee;
}

.selected-query .panel-heading {
    background-color: #ccc;
}

.selected-query .panel-body {
    background-color: #eee;
}

.avatar-pic-comment-column {
	width: 80px;
}

.comment-text-column {
	width: calc(100% - 80px);
}

.comment-text-content {
	margin-left: 1em;
}