body {
    margin-top: 50px;
}

.body-nomargin {
    margin-top: 0px;
}
.nav-tabs .glyphicon:not (.no-margin ) {
    margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
    display: inline-block;
    margin: 0px;
}

.tab-pane .list-group input[type="checkbox"] {
    margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
    margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
    color: #FFBC00;
}

a.list-group-item.read {
    color: #222;
    background-color: #F3F3F3;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-pills>li>a {
    padding: 5px 10px;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ad {
    padding: 5px;
    background: #F5F5F5;
    color: #222;
    font-size: 80%;
    border: 1px solid #E5E5E5;
}

.ad a.title {
    color: #15C;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}

.ad a.url {
    color: #093;
    text-decoration: none;
}

.bbmriModule {
    font-size: 10.5pt;
    font-weight: bold;
    color: #777;
}

#filterList {
    padding-left: 15px;
}

#filterInputButtons {
    padding-right: 15px;
}

#filterInputText {
    margin-right: 5px;
    margin-left: 5px;
}

.queryActionButtons {
    margin-left: 5px;
    top: -5px;
}

.queryCreationDate {
    float: inherit;
}

.queryOwner {
    padding-left: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.queryNumberResponsesBadge {
    margin-right:5px;
    float: left;
}

.filterBadge {
    margin-right: 5px;
}

.queriesTopLine {
    margin-bottom: 5px;
}

.fiveRight {
    margin-right: 5px;
}

.queryTitle {
    text-align: left;
}

.deco-none {
    color: black;
    text-decoration: none;
}

.deco-none:link {
    color: black;
    text-decoration: none;
}

.deco-none:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236, 103, 7, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236, 103, 7, 1);
}

.avatar-pic-comment-column {
	width: 80px;
}

.comment-text-column {
	width: calc(100% - 80px);
}

.comment-text-content {
	margin-left: 1em;
}

.search-box {
   line-height: 25px;   
}

.search-top-margin {
   margin-top: 6px;   
}

.badge i {
	color: white;
}

.empty-queries {
    margin-top: 100px;
}

.attachment-style {
    border-style:solid;
    border-width:1px;
    border-radius:5px;
    border-color: #CCC;
    margin-bottom:10px;    
    text-decoration: none;    
    background-color: #FFF; 
    margin-left: -30px;
}

.attachment-title {
	font-weight:bold;	
}

a:hover {
 cursor:pointer;
}

.archived-query .panel-heading {
    background-color: #ccc;
}

.tabSubtitle {
	margin: 0 auto;
    width: 10em;
    display: block;
    color: #999999;
}

.archived-query .panel-body {
    background-color: #eee;
}

/* Glowing */
.panel.selected-query {
    border-color: #004275;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.deco-none:hover .panel {
    border-color: #ec6707;
    outline: 0;
}

.panel-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.truncate-panel {
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * shows '\n' as newline in HTML
 */
.pre-wrap {
    white-space: pre-wrap;
}

.crashcourse-title {
    margin-top:0px;
}

.crashcouse-row {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom:1px solid #dddddd;
}

.crashcourse-point {
    padding-top:1.4em;
}

.crashcourse-image {
    display: block;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

#endlogo-container {
    float: right;
    padding: 1em;
    display: inline-block;
}

#negotiator-blurb {
    float: left;
    padding: 1em;
    display: none;
}

.crashcourse-details-link {
    color: #eb690b;
    text-decoration: underline;
}

.crashcourse-details-modal {
    width:1400px;
}

.projectName {
    color: #eb690b;
}

/* Make the whole panels click-able where this style is used  */
.clickable{

}

.rows{
    min-height: 25px;
    max-height: 65px;
}

.columns {
    min-width: 200px;
    max-width: 400px;
}

.column1 {
	min-width: 300px;
	max-width: 405px;
    width: 75%;
}

.column2 {
    min-width: 35px;
    max-width: 100px;
    width: 20%;
}

.column3 {
	min-width: 25px;
	max-width: 25px;
    width: 5%;
}

.query-detail-attachments-table-attachment-type, .query-detail-attachments-table-attachment-type-header {
    width: 30%;
}

.query-detail-attachments-table-attachment-name, .query-detail-attachments-table-attachment-name-header {
    width: 70%;
}

.attachment-links {
    margin: 5px 5px 5px 5px; 
}

.attachment-delete-links {
    margin: 5px 5px 5px 25px; 
}


@media (min-width: 768px){
    .left-panel {
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 0;
        width: 25%;
        overflow-y: scroll;
    }

    .left-panel::-webkit-scrollbar {
        display: none;
    }

    .right-panel {
        position: absolute;
        top: 80px;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        width: 75%;
    }

    .right-panel::-webkit-scrollbar {
        display: none;
    }
}

.avatar-image {
    min-height: 40px;
    height: 40px;
    width: 40px;
    min-width: 40px;
}

.required:before {
    color: #e32;
    content: '*';
    display:inline;
}

div.text {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}

div.text label {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 100%;
    padding-top: .1em;
    padding-right: .25em;
    width: 11em;
    text-align: left;
    float: left;
}

th, td {
    text-align: center;
    padding: 4px;
}

.test-query-heading {
    color: #ec6707 !important;
    background-color: rgba(0, 66, 117, 0.4) !important;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='20' y='27' fill='orange' font-size='20'>Test Request</text></svg>");
}

.draft-query-heading {
    color: #ec6707 !important;
    background-color: rgba(0, 66, 117, 0.4) !important;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='130px'><text x='20' y='27' fill='red' font-size='20'>Draft Request</text></svg>");
}

.test-request-table-row {
    background-color: rgba(0, 66, 117, 0.2) !important;
}
