{delpackage Notification}
{namespace samply.mailing}

/**
 * Main content for the test email, that can be sent using the admin interface
 */
{deltemplate maincontent}
    This is a test email sent by the BBMRI Negotiator.
{/deltemplate}