{delpackage Notification}
{namespace eu.negotiator.mailing}

/**
 * Main content for comment added notification mail.
 * @param? locale The locale of the mail
 * @param? name The locale of the mail
 */
{deltemplate maincontent}
    {switch $locale}
        {default}
            You had some Notifications for request listed below:<br>
            LINKLIST
            <br><br>Full list of updates: <br><br>
            BODYOFAGGREGATES
        <br>--------------
    {/switch}
{/deltemplate}