{delpackage Notification}
{namespace eu.negotiator.mailing}

/**
 * Main content for the test email, that can be sent using the admin interface
 * @param? testString Test String for sending html tags
 */
{deltemplate maincontent}
    This is a test email sent by the BBMRI-ERIC Negotiator.{\n}{\n}

    ReplaceTextWithLinkesReplcae

{/deltemplate}