<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<negotiator>
    <!-- The salt used to salt an uploaded file hash with -->
    <uploadFileSalt>test1234</uploadFileSalt>

    <!-- The username that Perun will use for the push mechanism (Basic Authentication) -->
    <perunUsername>perun</perunUsername>

    <!-- The password that Perun will use for the push mechanism (Basic Authentication) -->
    <perunPassword>gogogo</perunPassword>

    <!-- The username that the directory will use for the POST request on the negotiator to create a query -->
    <molgenisUsername>molgenis</molgenisUsername>

    <!-- The password that the directory will use for the POST request on the negotiator to create a query -->
    <molgenisPassword>gogogo</molgenisPassword>

    <!-- The ID of the entity in the directory for biobanks -->
    <molgenisResourceBiobanks>eu_bbmri_eric_biobanks</molgenisResourceBiobanks>

    <!-- The ID of the entity in the directory for collections -->
    <molgenisResourceCollections>eu_bbmri_eric_collections</molgenisResourceCollections>

    <!-- The username that the negotiator will use for the REST API from the directory -->
    <molgenisApiUsername>molgenis@negotiator.bbmri</molgenisApiUsername>

    <!-- The password that the negotiator will use for the REST API from the directory -->
    <molgenisApiPassword>gogogo</molgenisApiPassword>

    <!-- The URL to the directory UI -->
    <molgenisUrl>http://old.bbmri-eric.eu/bbmri-eric-directory-2.0</molgenisUrl>

    <!-- The URL to the directory REST API -->
    <molgenisRestUrl>http://old.bbmri-eric.eu</molgenisRestUrl>

    <!-- The local path on the server where all attachments will be stored -->
    <attachmentPath>/home/my-upload-folder/uploads/</attachmentPath>

    <!-- If false no emails will be sent from this negotiator -->
    <mailEnabled>true</mailEnabled>

    <!-- The host on which clamavd is running. Leave empty to disable live antivirus check -->
    <clamavHost>localhost</clamavHost>

    <!-- The port on which clamavd is listening. Leave empty to disable live antivirus check -->
    <clamavPort>3310</clamavPort>

    <!-- The list of admins. Each ID must be a Perun "subject" ID. -->
    <admins>
        <id>https://auth-dev.mitro.dkfz.de/users/7</id>
    </admins>

    <!-- Development options -->
    <development>

        <!-- If true, the automatic redirect to perun is disabled. Instead the user can chose directory to be a biobanker
            or a researcher. -->
        <authenticationDisabled>true</authenticationDisabled>

        <!-- If true, upon installation of the database the negotiator will deploy the dummy data -->
        <deployDummyData>true</deployDummyData>

        <!-- If true, the negotiator will fake the list of collections from the directory with the list of collections
            from the "fakeCollections" -->
        <fakeDirectoryCollections>true</fakeDirectoryCollections>

        <!-- The fake collections. Each collection must be an "ID" that is available in the database. -->
        <fakeCollections>
        	<collection>7</collection>
        	<collection>8</collection>
        	<collection>9</collection>
        	<collection>10</collection>
        	<collection>11</collection>
        	<collection>12</collection>
        	<collection>13</collection>
        	<collection>14</collection>
        	<collection>15</collection>
        	<collection>16</collection>
        	<collection>17</collection>
        	<collection>18</collection>
        	<collection>19</collection>
        	<collection>20</collection>
        	<collection>21</collection>
        </fakeCollections>

        <!-- If true, the negotiator accepts "invalid" URLs from the directory, e.g. if "molgenisUrl" is "https://molgenis52.gcc.rug.nl" but
            but the URL in the payload starts with "http://localhost:8080/molgenis" -->
        <molgenisAcceptInvalidUrl>true</molgenisAcceptInvalidUrl>

    </development>

    <postgresql xmlns:c="http://schema.samply.de/common">

        <c:host>localhost</c:host>

        <c:database>negotiator</c:database>

        <c:username>saher</c:username>

        <c:password>saher</c:password>

    </postgresql>

    <oAuth2Client xmlns:o2="http://schema.samply.de/config/OAuth2Client">

            <o2:host>https://perun.bbmri-eric.eu</o2:host>
            <o2:hostPublicKey>
                MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAx+lqbxpNBqv4S7w9b94L
                H5Zlr1rJN40TJ8GtTtwjTLbEnVaY6QsF9edw25tikr3ciPWuYdKf4UfMrdA/4fNW
                Q3CSAWU7Q9JWYAV5j5kq2d3dQ7vJ3ckJu1M8ZX0Jc5gvXC7VhQN4lYK7fMJJ32B0
                q8dcTeteO5BtQXU9Xm0F46Db+cR1vlktDbQpftTHTAmPk682iWEk+B7piQpvWw+d
                36AhCkeizai++FR4PCUl1dFpXX6eCMEz+gnYSTcJ5YfI74nnWAgf6v5oVDQ121dq
                TlejWev7e6WCNSpGynY+NbmRa8YE26oBMulXco/JSZhTQrB3lQhxFUNNKDjm41pj
                0wIDAQAB
            </o2:hostPublicKey>

            <!-- The "client" client ID works for localhost only. -->
            <o2:clientId>client</o2:clientId>
            <o2:clientSecret>secret</o2:clientSecret>

    </oAuth2Client>

    <mailSending xmlns:ms="http://schema.samply.de/config/MailSending">
        <ms:host>mailhost.dkfz-heidelberg.de</ms:host>
        <ms:protocol>smtp</ms:protocol>
        <ms:fromAddress>noreply@www12.inet.dkfz-heidelberg.de</ms:fromAddress>
        <ms:fromName>bbmri.notification</ms:fromName>

        <!-- Leave empty to enable anonymous authentication -->
        <ms:user></ms:user>

        <!-- Leave empty to enable anonymous authentication -->
        <ms:password></ms:password>
        <ms:port>25</ms:port>
        <ms:templateFolder>resources/emailTemplates/</ms:templateFolder>
    </mailSending>

    <proxy xmlns:c="http://schema.samply.de/common">
        <c:HTTP>
            <c:Url>www-int2.inet.dkfz-heidelberg.de:3128</c:Url>
            <c:Username/>
            <c:Password/>
        </c:HTTP>
        <c:HTTPS>
            <c:Url>www-int2.inet.dkfz-heidelberg.de:3128</c:Url>
            <c:Username/>
            <c:Password/>
        </c:HTTPS>
        <c:Realm/>
        <c:NoProxyHosts/>
    </proxy>

</negotiator>